@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsla(71, 73%, 54%, 0.856);
  --bright-yellow-hover: hsla(71, 67%, 54%, 0.856);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --right-section-bg: #4abebd;
  --card-shadow: hsla(220, 34%, 74%, 0.6)
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--light-gray);
  display: grid;
  place-items: center;
  font-family: 'Karla', sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-areas: "top top"
                       "left right";

  grid-template-columns: 1fr 1fr;
  width: 650px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px var(--card-shadow);
}

h1, h2 {
  margin-top: 0;
}

h2 {
  font-size: 18px;
}

section {
  padding: 36px;
}

section.top {
  grid-area: top;
}

section.top h1 {
  color: var(--cyan);
  margin-top: 0;
}

section.top h2 {
  color: var(--bright-yellow);
}

section.top p {
  color: var(--grayish-blue);
  line-height: 26px;
  margin-bottom: 0;
}

section.left {
  grid-area: left;
  background-color: var(--cyan);
}

section.left p:first-of-type {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

section.left p:first-of-type .price {
  font-size: 28px;
  font-weight: 700;
}

section.left p:first-of-type .period {
  color: rgba(255,255,255,0.65);
}

section.left p:nth-of-type(2) {
  margin-top: 6px;
}

section.left button {
  width: 100%;
  padding: 14px 0;
  border-radius: 4px;
  border: none;
  background-color: var(--bright-yellow);
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  color: var(--light-gray);
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

section.left button:hover {
  background-color: var(--bright-yellow-hover);
}

section.left, section.right {
  color: var(--light-gray);
}

section.right {
  grid-area: right;  
  background-color: var(--right-section-bg);
}

section.right ul {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  font-size: 14px;
}

section.right ul li {
  padding: 1px 0;
  cursor: pointer;
  width: max-content;
}


section.right ul li:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
}

@media screen and (max-width: 600px) {
  main {
    grid-template-areas: "top"
                         "left"
                         "right";
    grid-template-columns: 1fr;

    width: 90%;
    min-width: 320px;
  }
}